<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge; 0;url=https://beest.de">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BeemerStreamer</title>

  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href="/css/styles.css" rel="stylesheet">

  <script src="js/bulma.js"></script>

</head>
<nav class="navbar level " role="navigation" aria-label="main navigation" id="header">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <p class="level-item has-text-centered">
    <a class="tab is-active" onclick="openTab(event,'home')">Startseite</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="tab" onclick="openTab(event,'list')">Beemer Liste</a>
  </p>
  <p class="level-item has-text-centered">
    <a href="/"><img src="inc/logo.png"></a>
  </p>
  <p class="level-item has-text-centered">
    <a class="tab" onclick="openTab(event,'profile')">Profil</a>
  </p>
  <p class="level-item has-text-centered">
    <a class="tab" onclick="openTab(event,'contact')">Kontakt</a>
  </p>

  <li style="list-style-type:none" class="tab"></li>
  <li style="list-style-type:none" class="tab is-active"></li>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a onclick="openTab(event,'register')" class="button is-primary">
          <strong>Sign up</strong>
        </a>
        <a onclick="openTab(event,'login')" class="button is-light">
          Log in
        </a>
      </div>
    </div>
  </div>
  </div>
</nav>



<body>
  <div class="holder"></div>
  <div class="cont">
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <div class="drop"></div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0
                        0 1 0 0 0
                        0 0 1 0 0
                        0 0 0 18 -7" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>
    <%- body %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <div id="footer">
        <img src="/inc/louis.png">
      </div>
</body>

</html>