<div class="jumbotron" style="background-color: transparent;">
  <div class="container">
    <div class="container main-container">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="main">

          <center>
            <p style=" width: 30%;height: 15%;" id="titel2" class="titel2">BeemerStreamer<br>Alpha</p><br>
            <%- include ('./partials/messages') %>
              <form class="form-horizontal" action="register/">
                <p disabled style="display: inline-block; font-size: 25px;">
                <p disabled style="display: inline-block;">Melde dich an um Beemer in deiner nähe zu sehen.<br></p>
                <br>
                <p disabled style="display: inline-block;">Wenn du keinen Account hast frag einen Berechtigten ob er
                  dir
                  Accountdaten geben kann.<br></p><br>
                <div style="font-size: 28px"><br>
                  -> <a style="color:black;z-index: 10;text-decoration:underline" href="#list" aria-controls="home"
                    role="tab" data-toggle="tab" title="zu den Beemer"> Beemer Liste</a><br>
                  -> <a style="color:black;z-index: 10;text-decoration:underline" href="#user" aria-controls="profile"
                    role="tab" data-toggle="tab" title="zu den Einstellungen"> User Einstellungen</a><br>
          </center>
          </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="list">
          <h2 style="text-align: center;">Beemer Liste</h2>
          <p>Hier können später die vorhandenen Beamer angezeigt werden</p>
          <hr style="height:1px;border:none;color:#333;background-color:#333;">
          <form action="" method="" class="form-horizontal">
            <div class="form-group">
              <p>Du musst eingeloogt sein um die Beemer Liste zu sehen</p>

            </div>
          </form>
        </div>


        <div role="tabpanel" class="tab-panel" id="user">
          <br>
          <h2 style="text-align: center;">User Einstellungen</h2>
          <p>Hier können später noch User Einstellungen hinkommen</p>
          <hr style="height:1px;border:none;color:#333;background-color:#333;">
          <form action="" method="" class="form-horizontal">
            <div class="form-group">
              <p>Du musst eingeloogt sein um die Beemer Liste zu sehen</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



















<section class="hero is-success">
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth is-large">
      <div class="container">
        <ul>
          <li class="tab is-active" onclick="openTab(event,'WebDev')"><a>Web Development</a></li>
          <li class="tab" onclick="openTab(event,'WebAud')"><a>Website Audit</a></li>
          <li class="tab" onclick="openTab(event,'Support')"><a>Support</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>