<h1> Login </h1>
<%- include ('./partials/messages') %>
    <form action="/users/login" method="POST">
        <div>
            <label for="email">Username/E-Mail</label>
            <input type="usermail" name="usermail" placeholder="Username/E-Mail" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" />

        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>

    </form>