<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>


  <p id="titel2" class="title is-1">Anmeldung</p>

  <div class="field">

    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Passwort">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field2">
    <p class="control2">
      <!-- <button class="button is-ghost">Registrierung</button> -->
      <button class="button is-ghost" id="pw">Passwort vergessen?</button>
      <button class="button is-warning" id="login">Anmeldung</button>
    </p>

  </div>
</body>

</html>