<?php 
session_start();
require_once("inc/config.inc.php");
require_once("inc/functions.inc.php");

include("templates/header2.inc.php");
?>

<div class="form-Bg">
    <div class="form-header">
        <a href="/"><h1>RaZingCode</h1></a>
        <h2>FORGOT PASSWORD</h2>
        </div>
<?php 
$showForm = true;
 
if(isset($_GET['back']) ) {

}

if(isset($_GET['send']) ) {
	if(!isset($_POST['email']) || empty($_POST['email'])) {
		$errmsg = "<b>Please enter an Username or E-Mail address.</b>";
	} else {
		$statement = $pdo->prepare("SELECT * FROM users WHERE username = :email or email = :email");
		$result = $statement->execute(array('email' => $_POST['email']));
		$user = $statement->fetch();		
 
		if($user === false) {
			$errmsg = "<b>User not found.</b>";
		} else {
			
			$passwordcode = random_string();
			$statement = $pdo->prepare("UPDATE users SET passwordcode = :passwordcode, passwordcode_time = NOW() WHERE id = :userid");
			$result = $statement->execute(array('passwordcode' => sha1($passwordcode), 'userid' => $user['id']));
			
			$recipient = $user['email'];
			$reference = "New password for your account from www.beest.de"; 
			$from = "From: BeeSt <info@beest.de>";
			$url_passwordcode = getSiteURL().'pwreset.php?userid='.$user['id'].'&code='.$passwordcode;
			$text = 'Hello '.$user['username'].',
a new password was asked for your account on www.php-einfach.de. To assign a new password, go to the following website within the next 24 hours:
'.$url_passwordcode.'

If you have remembered your password or if you have not requested it, please ignore this email.
			
Many greetings,
your RaZingCode-Team';
			 
			mail($recipient, $reference, $text, $from);
 
			echo '<form action="?back=1" method="post"><div class="form-group"><p style="color: #03d400;">A link to reset your password has been sent to your email address.</p><br>';
			echo '<input  class="btn btn-lg btn-primary btn-block" type="submit" value="Back to home"></div></form> ';	
			$showForm = false;
		}
	}
}
 
if($showForm):
?>  
	<p style="color: 03d400">Enter your Username or email address here to request a new password.<br><br></p>
	<?php	
	?>
	<form action="?send=1" method="post">
	<div class="form-group">
		<input class="form-control" placeholder="Username/E-Mail" name="email" type="text" value="<?php echo isset($_POST['email']) ? htmlentities($_POST['email']) : ''; ?>" required>
		<br>
		<input  class="btn btn-lg btn-primary btn-block" type="submit" value="New Password">
	</div>
</form> 
<p style="color:red; text-align: center">
		<?php 
		if(isset($errmsg)) {
			echo $errmsg;
		} ?> </p><p style="color:#03d400"> <?php
		if(isset($msg)) {
			echo $msg;
		} ?> </p>
<?php
endif; 
?>
</div>
