<body style="display: flex;">
    <div class="form-Bg">
        <div class="form-header">
            <a href="/"><h1>BeemerStreamer</h1></a>
            <h2>REGISTER</h2>
            <%- include ('./partials/messages') %>
            <div>
                <form action="/register" method="post">
                    <div class="form-group">
                        <input type="text" id="username" size="40" maxlength="250" name="username" class="form-control" placeholder="Username" required autofocus>
                        <input type="email" id="email" size="40" maxlength="250" name="email" class="form-control" placeholder="E-Mail" required autofocus>
                        <input type="text" id="firstname" size="40" maxlength="250" name="firstname" class="form-control" placeholder="First Name" required autofocus>
                        <input type="text" id="lastname" size="40" maxlength="250" name="lastname" class="form-control" placeholder="Last Name" required autofocus>
                        <input type="password" id="password" size="40"  maxlength="250" name="password" class="form-control" placeholder="Password" required>
                        <input type="password" id="password2" size="40" maxlength="250" name="password2" class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">REGISTER</button><br>
                    </div>
                </form>
            </div>