<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh; X-UA-Compatible" content="IE=edge; 0;URL='https://localhost:443'"/>
  <title>CodePen - Honey, Beehave! — Hex Tile Vue Component</title>
  <link rel="stylesheet" href="css/beehave.css">

</head>
<body>
    
    <main>
        <hexo-map :cells="cells"></hexo-map>
        <div class="bee"></div>
      </main>

      <script src='https://unpkg.com/vue@2.6.11'></script><script  src="js/beehave.js"></script>

    </body>
    </html>