<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <<meta http-equiv="refresh; X-UA-Compatible" content="IE=edge; 0;URL='https://localhost:443'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/css/beemine.css" rel="stylesheet">
  </head>
  
<body>
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <div class="v-t">
      <div class="v-tc">
    
        <h1>Welcome to<br><span>BeemerStreamer</span></h1>
    
        <div class="bee">
          <div class="antennae"></div>
          <div class="wing one"></div>
          <div class="wing two"></div>
        </div>
        <div class="shadow"></div>
    
        <h2>for <strike>testing purposes</Test-P></strike></h2>
      </div>
    </div>
    <div class="background-gradient"></div>
</body>

</html>