<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <<meta http-equiv="refresh; X-UA-Compatible" content="IE=edge; 0;URL='https://localhost:443'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/css/3dloading.css" rel="stylesheet">
  </head>
  
<body>
    

<script src="js\deadline.js"></script>
</body>

</html>