<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh; X-UA-Compatible" content="IE=edge; 0;URL='https://localhost:443'"/>
  <title>CodePen - Magic Card</title>
  <link rel="stylesheet" href="css/mc.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="card">
  Magic Card
</div>

<a href="https://mythrillfiction.com/" target="_blank">Made for Mythrill</a>
<!-- partial -->
  
</body>
</html>
